<nav class="global-header">
  <div class="global-header-left">
    <a href="{{ '/' | url }}">Fictions</a>
    <a href="{{ '/documentaries/' | url }}">Documentaires</a>
  </div>
  <div class="global-header-center">
    <span>{{ navigation.title }}</span>
  </div>
  <div class="global-header-right">
    <a href="{{ '/bande-demo/' | url }}">Bande démo</a>
    <a href="{{ '/contact/' | url }}">Contact</a>
  </div>
</nav>
