<nav class="global-header">
  <div class="global-header-left">
    <a href="/">Fictions</a>
    <a href="/documentaries/">Documentaires</a>
  </div>
  <div class="global-header-center">
    <span>{{ navigation.title }}</span>
  </div>
  <div class="global-header-right">
    <a href="/bande-demo/">Bande démo</a>
    <a href="/contact/">Contact</a>
  </div>
</nav>
